!!! 5
%html
  %head
    %title Three.js
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    = stylesheet_link_tag "site.css"
    = javascript_include_tag "three"
  %body
    = yield